.team-heading {
    background-color: rgb(240, 48, 48);
    color: white;
  }
  
  .team-area {
    max-width: 1000px;
    margin: 3em auto;
    flex-wrap: wrap;
  }
  
  .employee-card {
    margin: 1em;
    max-width: 280px;
    width: 90%;
    min-height: 22rem;
    background-color: #1674da;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
  }
  
  .list-group-item {
    color: #000000;
    text-decoration: none;
  }